<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規プロトタイプ投稿</h2>
        <%# 部分テンプレートでフォームを表示する %>
                                          <%# {右の値を左の変数で使用する} %>
      <%= render partial: 'form', locals: { prototype: @prototype } %>
    </div>
  </div>
</div>